aniso8601==9.0.1
autopep8==1.6.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.7
click==8.0.3
colorama==0.4.4
commonmark==0.9.1
cryptography==35.0.0
Deprecated==1.2.13
Flask==2.0.2
Flask-HTTPAuth==4.5.0
Flask-JWT-Extended==4.3.1
Flask-RESTful==0.3.9
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
idna==3.3
itsdangerous==2.0.1
Jinja2==3.0.3
joblib==1.1.0
MarkupSafe==2.0.1
mysql-connector-python==8.0.27
nltk==3.6.5
protobuf==3.19.1
pycodestyle==2.8.0
pycparser==2.21
Pygments==2.10.0
PyJWT==2.3.0
pytz==2021.3
redis==4.0.2
regex==2021.11.10
requests==2.26.0
rich==10.15.2
six==1.16.0
SQLAlchemy==1.4.27
toml==0.10.2
tqdm==4.62.3
urllib3==1.26.7
Werkzeug==2.0.2
wrapt==1.13.3
